<!--left-fixed -navigation-->
<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="Index"><span class="fa fa-area-chart"></span> MY job<span class="dashboard_text">A channel for jobs</span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="~/Admin/index">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>Reports</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Report/UserInactiveXMonth"><i class="fa fa-angle-right"></i> User Inactive</a></li>
                        <li><a href="~/Report/UserMonthlyRegister"><i class="fa fa-angle-right"></i> User Register Monthly</a></li>
                        <li><a href="~/Report/UserEmployeeComplaintXTimes"><i class="fa fa-angle-right"></i> Employee Complaint</a></li>
                        <li><a href="~/Report/UserEmployeeRating"><i class="fa fa-angle-right"></i> Employee Overall Rating</a></li>
                        <li><a href="~/Report/UserEmployerPostingStatus"><i class="fa fa-angle-right"></i> Employer Posting Status</a></li>
                        <li><a href="~/Report/UserEmployerPendingPost"><i class="fa fa-angle-right"></i> Employer Pending Posts</a></li>
                        <li><a href="~/Report/JobCategoryAvgWage"><i class="fa fa-angle-right"></i> Average job wage in Category</a></li>
                        <li><a href="~/Report/TransactionAccountFee"><i class="fa fa-angle-right"></i> Monthly Account Subscription</a></li>
                        <li><a href="~/Report/TransactionPostFee"><i class="fa fa-angle-right"></i> Monthly Posting Fee</a></li>
                        <li><a href="~/Report/EmployerEmployentTransactionDairy"><i class="fa fa-angle-right"></i> Monthly Employment Fee</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>Account Maintenance</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Admin/ListAccount"><i class="fa fa-angle-right"></i> List Account</a></li>
                        <li><a href="~/Account/AddAccount"><i class="fa fa-angle-right"></i> Register New Account</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-briefcase"></i>
                        <span>Job Maintenance</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Admin/ListJob"><i class="fa fa-angle-right"></i> List Job Category</a></li>
                        <li><a href="~/Admin/ListSkill"><i class="fa fa-angle-right"></i> List Skill</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-clipboard"></i>
                        <span>Post Maintenance</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Admin/ListPost"><i class="fa fa-angle-right"></i> List Employer's Post</a></li>
                        <li><a href="~/Admin/ListComplaintedPost"><i class="fa fa-angle-right"></i> Complainted Post</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-credit-card"></i>
                        <span>Transaction</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Admin/SubscribeFee"><i class="fa fa-angle-right"></i> Account Subscription Fee</a></li>
                        <li><a href="~/Admin/PostFee"><i class="fa fa-angle-right"></i> Posting Fee</a></li>
                        <li><a href="~/Admin/ListEmployement"><i class="fa fa-angle-right"></i> Employment Record</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="~/Account/Logout"><i class="fa fa-sign-out"></i> Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>
