<!--left-fixed -navigation-->
<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="Index"><span class="fa fa-area-chart"></span> MY job<span class="dashboard_text">A channel for jobs</span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview">
                    <a href="~/Employee/Index">
                        <i class="fa fa-dashboard"></i> <span> Dashboard</span>
                    </a>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span>My Employee Profile</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Employee/EmployeeProfile"><i class="fa fa-angle-right"></i> Personal profile</a></li>
                        <li><a href="~/Employee/UpdateProfile"><i class="fa fa-angle-right"></i> Update my profile</a></li>
                        <li><a href="~/Employee/AddSkill"><i class="fa fa-angle-right"></i> Add my skill</a></li>
                        <li><a href="~/Employee/AccountPayment"><i class="fa fa-angle-right"></i> Account subscription</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bookmark"></i>
                        <span>My Jobs Biding</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Employee/ListJob"><i class="fa fa-angle-right"></i> Job Available</a></li>
                        <li><a href="~/Employee/ListRequestedJob"><i class="fa fa-angle-right"></i> Requested Job</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-briefcase"></i>
                        <span>My Employment</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="~/Employee/ListEmployment"><i class="fa fa-angle-right"></i> My Schedule</a></li>
                        <li><a href="~/Employee/WorkingMaps"><i class="fa fa-angle-right"></i> Working place maps</a></li>
                        <li><a href="~/Employee/JobHistory"><i class="fa fa-angle-right"></i> Job History</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</aside>

