
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section subNav {
    <ol class="breadcrumb justify-content-left">
        <li class="breadcrumb-item">
            <a href="index">Home</a>
        </li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
}

<!-- contact -->
<section class="banner-bottom-wthree pt-lg-5 pt-md-3 pt-3">
    <div class="inner-sec-w3ls pt-md-5 pt-md-3 pt-3">
        <!---728x90--->
        <h3 class="tittle text-center mb-lg-5 mb-3">
            <span>Get Intouch</span>Contact Us
        </h3>
        <!---728x90--->
        <div class="container">
            <div class="address row mb-5">
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-3 address-left text-center">
                            <i class="far fa-map"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6 class="ad-info text-uppercase mb-2">Address</h6>
                            <p>
                                Kampus Utama, Jalan Genting Kelang, 53300 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-3 address-left text-center">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6 class="ad-info text-uppercase mb-2">Email</h6>
                            <p>
                                Email :
                                <a href="mailto:info@tarc.edu.my"> info@tarc.edu.my</a>
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 address-grid">
                    <div class="row address-info">
                        <div class="col-md-3 address-left text-center">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="col-md-9 address-right text-left">
                            <h6 class="ad-info text-uppercase mb-2">Tel</h6>
                            <p>(6)03-4145 0241</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 map">
                    <iframe src="https://maps.google.com/maps?q=taruc&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            allowfullscreen></iframe>

                </div>
                <div class="col-md-6 main_grid_contact">
                    <div class="form">
                        <h4 class="mb-4 text-left">Send us a message</h4>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="my-2">Name</label>
                                <input class="form-control" type="text" name="Name" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="Email" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea id="textarea" placeholder=""></textarea>
                            </div>
                            <div class="input-group1">
                                <input class="form-control" type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //contact -->