
@{
    ViewBag.Title = "How It Work";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section subNav {
    <ol class="breadcrumb justify-content-left">
        <li class="breadcrumb-item">
            <a href="index">Home</a>
        </li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
}

<!--/process-->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <!---728x90--->
            <h3 class="tittle text-center mb-lg-4 mb-3">
                <span>Some Info</span>How It works
            </h3>
            <!---728x90--->
            <div class="row choose-main mt-5">
                <div class="col-lg-6 work-grid-right">
                    <div class="work-info">
                        <h5>
                            <span class="post-color">Step : 1</span>
                        </h5>
                        <h4 class="post my-3">Register an account</h4>
                        <p>
                            Fill in some personal description and detail.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 work-grid-left">
                    @*<img src="~/TemplateSources/HomeSources/images/g1.jpg" alt="" class="img-fluid">*@
                </div>
            </div>
            <div class="row my-5">

                <div class="col-lg-6 work-grid-left">
                    @*<img src="~/TemplateSources/HomeSources/images/g7.jpg" alt="" class="img-fluid">*@
                </div>
                <div class="col-lg-6 work-grid-right">
                    <div class="work-info">
                        <h5>
                            <span class="post-color">Step : 2</span>
                        </h5>
                        <h4 class="post my-3">Specify & Search Your Job</h4>
                        <p>
                            Look through a the job list and find the perfectly fit job.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6 work-grid-right">
                    <div class="work-info">
                        <h5>
                            <span class="post-color">Step : 3</span>
                        </h5>
                        <h4 class="post my-3">Apply For Job</h4>
                        <p>
                            Apply the job and wait for the employer to accept your request.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 work-grid-left">
                    @*<img src="~/TemplateSources/HomeSources/images/g3.jpg" alt="" class="img-fluid">*@
                </div>
            </div>
        </div>
    </div>
</section>
<!--//preocess--><!-- banner-bottom-wthree -->
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5  py-3">
            <h3 class="tittle text-center mb-lg-4 mb-3">
                <span>Our Mission</span>Popular Categories
            </h3>
            <div class="row populor_category_grids mt-5">
                <div class="col-md-3 category_grid">
                    <div class="view view-tenth">
                        <div class="category_text_box">
                            <i class="fas fa-bullhorn"></i>
                            <h3> Multimedia</h3>
                            <p>(34 open flow-positions)</p>
                        </div>
                        <div class="mask">
                            <a href="#">
                                <img src="~/TemplateSources/HomeSources/images/p1.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 category_grid">
                    <div class="view view1 view-tenth">
                        <div class="category_text_box">
                            <i class="fas fa-graduation-cap"></i>
                            <h3>Education</h3>
                            <p>(22 open flow-positions)</p>
                        </div>
                        <div class="mask">
                            <a href="#">
                                <img src="~/TemplateSources/HomeSources/images/p2.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 category_grid">
                    <div class="view view2 view-tenth">
                        <div class="category_text_box">
                            <i class="fab fa-accusoft"></i>
                            <h3>House Keeping </h3>
                            <p>(16 open flow-positions)</p>
                        </div>
                        <div class="mask">
                            <a href="#">
                                <img src="~/TemplateSources/HomeSources/images/p3.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 category_grid">
                    <div class="view view3 view-tenth">
                        <div class="category_text_box">
                            <i class="fas fa-users"></i>
                            <h3>Human Resource</h3>
                            <p>(4 open flow-positions)</p>
                        </div>
                        <div class="mask">
                            <a href="#">
                                <img src="~/TemplateSources/HomeSources/images/p4.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-center">
                <div class="col-md-3 category_grid">
                    <div class="view view4 view-tenth">
                        <div class="category_text_box">
                            <i class="fa fa-bicycle"></i>
                            <h3>Sport Science </h3>
                            <p>(8 open flow-positions)</p>
                        </div>
                        <div class="mask">
                            <a href="#">
                                <img src="~/TemplateSources/HomeSources/images/p4.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 category_grid">
                    <div class="view view5 view-tenth">
                        <div class="category_text_box">
                            <i class="fa fa-briefcase"></i>
                            <h3>Construction </h3>
                            <p>(6 open flow-positions)</p>
                        </div>
                        <div class="mask">
                            <a href="#">
                                <img src="~/TemplateSources/HomeSources/images/p4.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</section>
<!--banner-bottom-wthree-->
<!--job -->
<section class="banner-bottom-wthree mid py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5   py-md-3 py-3">
            <div class="mid-info text-center pt-3">
                <h3 class="tittle text-center cen mb-lg-5 mb-3">
                    <span>Some Info</span>Make a Difference with Your Online Resume!
                </h3>
                <p></p>
                <div class="resume">
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter2">
                        <i class="far fa-user"></i> Create Acccount
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--//job -->
<!--job -->
<section class="banner-bottom-wthree py-lg-5 py-md-4  py-3">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5   py-md-3 py-3">
            <h3 class="tittle text-center mb-lg-5 mb-3">
                <span>Some Info</span>Selection Process
            </h3>

            <div class="mid-info text-center mt-5">
                <div class="parent-chart">
                    <div class="level lev-one top-level">
                        <div class="flow-position">
                            <img src="~/TemplateSources/HomeSources/images/s1.jpg" alt=" " class="img-fluid rounded-circle">
                            <br>
                            <strong>Recruitment Process</strong>
                        </div>
                    </div>
                    <div class="flow-chart">
                        <div class="level lev-two last-lev">
                            <div class="flow-position">
                                <img src="~/TemplateSources/HomeSources/images/s2.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>1.Job Vacancy</strong>
                            </div>

                            <div class="flow-position">
                                <img src="~/TemplateSources/HomeSources/images/s3.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>
                                    2. Job Analysis
                                </strong>
                            </div>

                            <div class="flow-position">
                                <img src="~/TemplateSources/HomeSources/images/s4.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>
                                    3. Attracting Candidates
                                </strong>
                            </div>

                            <div class="flow-position">
                                <img src="~/TemplateSources/HomeSources/images/s5.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>4.Screening </strong>
                            </div>

                            <div class="flow-position">
                                <img src="~/TemplateSources/HomeSources/images/s6.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>
                                    5.Interviewing Candidates
                                </strong>
                            </div>

                            <div class="flow-position">
                                <img src="~/TemplateSources/HomeSources/images/s7.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>6.Selecting</strong>
                            </div>

                            <div class="flow-position">
                                <img src="~/TemplateSources/HomeSources/images/s8.jpg" alt=" " class="img-fluid rounded-circle">
                                <br>
                                <strong>
                                    7.Employee Evaluation
                                </strong>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--//job -->